# ============================
# Backend (Node.js + Express)
# ============================

express
pg
pg-pool
dotenv
bcrypt
jsonwebtoken
cookie-parser
helmet
cors
express-rate-limit
uuid
morgan
fs
https

# ============================
# Frontend (Angular)
# ============================

npm install
